{% if condition == 1 %}
    <span class="badge bg-success">
        <em class="fas fa-check"></em>
    </span>
{% elif condition == 2%}
    <span class="badge bg-warning">
        <em class="fas fa-question"></em>
    </span>
{% else %}
    <span class="badge bg-danger" style="width: 21.59px; ">
        <em class="fas fa-times"></em>
    </span>
{% endif %}